@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Reem+Kufi+Fun:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Reddit+Mono:wght@200..900&family=Reem+Kufi+Fun:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour&family=Tilt+Neon&display=swap");
body {
  background: linear-gradient(to right, rgba(245, 224, 224, 0.9647058824), #bdbaba);
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none;
}

h1,
p,
a {
  font-family: "Reddit Mono", monospace;
}

body.dark-theme {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9647058824), #552a24);
}

.dark-theme .bi-sun {
  color: #a8483b;
}

.bi-sun,
.bi-moon {
  color: #D18F8F;
}

#scrollToTopBtn {
  position: fixed;
  bottom: 20px;
  right: 5px;
  width: 40px;
  height: 40px;
  background-color: #a8483b;
  color: #fff;
  border: solid 1px white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.biArrow {
  color: white;
  height: 10px;
  width: 20px;
  border-radius: 5px;
  padding: 5px;
  text-align: center;
  justify-content: center;
  background-color: rgba(163, 160, 160, 0.7);
}

.elementoUm {
  background-color: #a8483b;
  height: 80px;
  width: 50px;
  border-top-left-radius: 0px;
  /* Raio para o canto superior esquerdo (X, Y) */
  border-top-right-radius: 105px;
  /* Raio para o canto superior direito (X, Y) */
  border-bottom-left-radius: 0px;
  /* Raio para o canto inferior esquerdo (X, Y) */
  border-bottom-right-radius: 105px;
  /* Raio para o canto inferior direito (X, Y) */
}
.elementoUm:hover {
  width: 150px;
}

.container-elementoDois {
  position: relative;
}

.elementoDois {
  position: absolute;
  right: 0;
  /* Alinha à direita */
  top: 50%;
  /* Move para o meio verticalmente */
  transform: translateY(-350%);
  /* Ajusta o elemento para o centro vertical */
  background-color: #a8483b;
  height: 60px;
  width: 40px;
  border-top-left-radius: 110px;
  /* Raio para o canto superior esquerdo (X, Y) */
  border-top-right-radius: 0px;
  /* Raio para o canto superior direito (X, Y) */
  border-bottom-left-radius: 110px;
  /* Raio para o canto inferior esquerdo (X, Y) */
  border-bottom-right-radius: 0px;
}
.elementoDois:hover {
  width: 80px;
}

.elementoTres {
  background-color: #D18F8F;
  margin: auto;
  height: 40px;
  width: 80px;
  border-top-left-radius: 105px;
  /* Raio para o canto superior esquerdo (X, Y) */
  border-top-right-radius: 105px;
  /* Raio para o canto superior direito (X, Y) */
  border-bottom-left-radius: 0px;
  /* Raio para o canto inferior esquerdo (X, Y) */
  border-bottom-right-radius: 0px;
}

.nav-item a, .nav-item p, .skills {
  color: #a8483b;
}

.nav-item img {
  height: 30px;
  width: 30px;
}

.navbar-toggler:focus {
  box-shadow: none !important;
}

.nav-item:hover {
  background-color: rgba(226, 177, 177, 0.459);
  color: #a8483b;
  border-radius: 5px;
}

.bloco_principal {
  padding: 50px;
}

.apresentacaoPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.apresentacaoPrincipal h1,
p {
  text-align: center;
  margin: 0;
  color: #D18F8F;
}

.apresentacaoPrincipal h1 span {
  color: #a8483b;
  font-family: "Orbitron", sans-serif;
  font-size: 110%;
  font-weight: 700;
}

.apresentacaoPrincipal p:last-of-type {
  color: #a8483b;
}

.linkSocial {
  background-color: #a8483b;
  border-radius: 15px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linkSocial:hover {
  transform: translateY(-3px);
}

.linkSocial a {
  color: #D18F8F;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
}
.linkSocial a:hover {
  background-color: rgba(240, 233, 233, 0.829);
}

.fotoPerfil {
  display: none;
}

.conteudoBio h1,
p {
  color: #D18F8F;
}

small {
  margin-top: 1em;
  color: #D18F8F;
}

.bar-container {
  width: 15%;
  height: 300px;
  background-color: #f1f1f1;
  position: relative;
  display: inline-block;
  margin: 15px;
}

.bar {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  color: white;
}

.bar.english {
  background-color: #D18F8F;
}

.bar.graduation {
  background-color: #D18F8F;
}

.scale {
  position: absolute;
  bottom: -30px;
  /* Posição abaixo da barra */
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #D18F8F;
}

.icones {
  display: flex;
}

.icones img {
  height: 50px;
}

.container-card {
  border-radius: 15px;
  margin-bottom: 5em;
}

.footer {
  background-color: #a8483b;
  text-align: center;
  align-items: center;
  color: white;
  padding: 25px;
}

.flexContainer {
  background-color: #752c23;
  height: 100%;
}

.titulo_projeto {
  text-align: center;
}

.descricao_projeto {
  margin-bottom: 5px;
}

.img_projeto {
  max-width: 350px;
  height: auto;
}

.openModalBtn {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.video_Element {
  text-align: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#minhaDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
}

.btn_modal {
  height: 200px;
  min-width: 250px;
  width: 35%;
  margin: 15px;
  background-size: cover;
  /* Ajusta a imagem para cobrir o tamanho do botão */
}

.modal-body-link {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.modal-body a {
  text-decoration: none;
  background-color: #D18F8F;
  padding: 5px;
  border-radius: 5px;
  color: #fff;
}

.habilidades {
  opacity: 0;
  transition: opacity 2s ease-in-out;
}

.habilidades.mostrar {
  opacity: 1;
}

.bg-warning {
  height: 100%;
  padding: 50px;
}

.containerSkills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.box {
  background-color: rgba(250, 194, 194, 0.877);
  width: 150px;
  border-radius: 5px;
  text-align: center;
  margin: 20px;
}
.box:hover {
  transform: translateY(-5px);
}

.container-form {
  background-color: #a8483b;
  border-radius: 10px;
  padding: auto;
}
.container-form .feedback {
  color: #D18F8F;
}
.container-form .btn_form {
  background-color: #D18F8F;
  color: #fff;
}
.container-form .btn_form:hover {
  background-color: #fff;
  color: #752c23;
}

@media screen and (min-width: 768px) {
  .nav-item-right {
    margin-left: auto;
  }
  .flexContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerFotoPerfil {
    justify-content: center;
    align-items: center;
  }
  .fotoPerfil {
    display: flex;
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  .fotoPerfil:hover {
    transform: translateY(-5px);
  }
  .containerFeed {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
  }
  .bloco_principal {
    justify-content: center;
    align-items: center;
    height: 60vh;
    padding-top: 0px;
  }
}
@media screen and (min-width: 992px) {
  .flexContainer {
    height: 70vh;
  }
}
@media screen and (min-width: 1400px) {
  .containerSkills {
    padding: 45px;
  }
}
@media screen and (min-width: 1800px) {
  .containerSkills {
    padding: 100px;
  }
}/*# sourceMappingURL=estilo.css.map */