// Importe os estilos do Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&family=Reem+Kufi+Fun:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Reddit+Mono:wght@200..900&family=Reem+Kufi+Fun:wght@400..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Sixtyfour&family=Tilt+Neon&display=swap');
//estilo fonts
$font-reddit-mono: "Reddit Mono", monospace;
$font-orbitron: "Orbitron", sans-serif;
//cores fonts
$font-primary: #D18F8F;
$font-secundary: #752c23;
$white: white;
$bg: #fff;
//médias
$mobile-widthMD: 768px;
$mobile-widthLG: 992px;
$mobile-widthXL: 1400px;


body {
    background: linear-gradient(to right, #f5e0e0f6, #bdbaba);
}

h1,
p,
a {
    font-family: $font-reddit-mono;
}

.img_logo {
    height: 100px;
    display: block;
}

body.dark-theme {
    background: linear-gradient(to right, #000000f6, #552a24);
}

.bi-sun,
.bi-moon {
    color: $font-secundary;


}

#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 5px;
    width: 40px;
    height: 40px;
    background-color: $font-secundary;
    color: $bg;
    border: solid 1px $white;
    border-radius: 50%;
    cursor: pointer;
    display: flex; //centralizar coteudo
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.biArrow {
    color: $white;
    height: 10px;
    width: 20px;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    justify-content: center;
    background-color: rgba(163, 160, 160, 0.7);
}

.dark-theme .navbar {
    background-color: rgba(110, 50, 50, 0.459);

    .nav-link,
    .bi-sun,
    .bi {
        color: $font-primary;
    }
}

.nav-bar {
    background-color: yellow;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav-item:hover {
    background-color: rgba(226, 177, 177, 0.459);
    color: $font-secundary;
    border-radius: 5px;

}

.bloco_principal {
    padding: 50px;
}

.apresentacaoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.apresentacaoPrincipal h1,
p {
    text-align: center;
    margin: 0;
    color: $font-primary;
}

.apresentacaoPrincipal h1 span {
    color: $font-secundary;
    font-family: $font-orbitron;
    font-size: 110%;
    font-weight: 700;
}

.apresentacaoPrincipal p:last-of-type {
    //menos o ultimo filho
    color: $font-secundary ;
}

.linkSocial a {
    color: $font-primary;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;

    &:hover {
        background-color: $bg;
        border-radius: 3px;
    }
}

.fotoPerfil {
    display: none;
}

.conteudoBio h1,
p {
    color: $font-primary;
}

small {
    margin-top: 1em;
    color: $font-primary;
}

.bgProgress {
    background: rgb(235, 235, 91) !important;
}

.icones {
    display: flex;
}

.icones img {
    height: 50px;
}

.container-card {
    border-radius: 15px;
    margin-bottom: 5em;
}

.footer {
    background-color: $font-secundary;
    text-align: center;
    align-items: center;
    color: $white;
    padding: 25px;
}

.flexContainer {
    background-color: $font-secundary;
    height: 100%;
}

.titulo_projeto {
    text-align: center;
}

.descricao_projeto {
    margin-bottom: 5px;
}

.img_projeto {
    max-width: 350px;
    height: auto;
}

.openModalBtn {
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}

.video_Element {
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#minhaDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100%;
}

.feedback {
    color: $font-secundary;
}

.btn_modal {
    height: 200px;
    min-width: 250px;
    width: 35%; //não esquecer % quando usar min
    margin: 15px;
    background-size: cover;
    /* Ajusta a imagem para cobrir o tamanho do botão */
}

.modal-body-link {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.modal-body a {
    text-decoration: none;
    background-color: $font-primary;
    padding: 5px;
    border-radius: 5px;
    color: $bg;
}

.bg-warning {
    height: 100%;
    padding: 50px;
}

.habilidade {
    display: inline;
    justify-content: center;
    align-items: center;
    opacity: 0;
    /* Inicialmente, oculta as habilidades */
    transform: translateX(100%);
    /* Inicialmente, move as habilidades para fora da tela para o lado direito */
    transition: opacity 0.5s ease, transform 1s ease;
    /* Transições suaves para a opacidade e para a transformação */
}

.mostrar-habilidades .habilidade {
    background-color: yellow;
    opacity: 1;
    /* Mostra as habilidades quando a classe mostrar-habilidades é aplicada */
    transform: translateX(0);
    /* Move as habilidades de volta para a posição original */
}

.containerSkills {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.box {
    background-color: rgba(250, 194, 194, 0.877);
    width: 150px;
    border-radius: 5px;
    text-align: center;
    margin: 20px;


}

@media screen and (min-width: $mobile-widthMD) {
    .flexContainer {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .containerFotoPerfil {

        justify-content: center;
        align-items: center;
    }

    .fotoPerfil {
        display: flex;
        width: 300px;
        height: 300px;
        border-radius: 50%;

    }

    .containerFeed {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 100px;
    }

    .bloco_principal {
        justify-content: center;
        align-items: center;
        height: 60vh;
    }

}


@media screen and (min-width: $mobile-widthLG) {
    .flexContainer {
        height: 80vh;
    }

}

@media screen and (min-width: $mobile-widthXL) {
    .bg-warning {
        height: 70vh;
    }
}